@charset "utf-8";

/*
   DTE estilo tipográfico
   Author: Sara Martínez Veiro	
   Date: 25/01/2021
   
   Filename: style.css

*/


body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
}

body > header {
	margin: 0;
	width: 100%;
	overflow: hidden;
}

body > nav {
	width: 20%;
	float: left;
	margin: 0 0 0 1.5%;
}

body > section#sobre_dte {
	width: 51%;
	float: left;
	margin: 0 3% 0 3%;
}


body > aside {
	width: 20%;
	float: left;
	margin: 0 1.5% 0 0;
}

body > section#sobre_dte img {
	float: right;
	width: 40%;
	margin: 0px 0 10px 10px;
}

section.syllabus {
    float: left;
	width: 74.5%;
	margin: 0 4% 0 0%;
}


body > footer {
	width: 100%;
	clear: left;
}

#css {
	margin-bottom: -5px;
}
